.elementor-8182 .elementor-element.elementor-element-3a1b1979>.elementor-container {
    min-height: 600px;
}

.elementor-8182 .elementor-element.elementor-element-3a1b1979 .elementor-background-slideshow__slide__image {
    background-size: cover;
    background-position: top center;
}

.elementor-8182 .elementor-element.elementor-element-3a1b1979 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-8182 .elementor-element.elementor-element-3a1b1979>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8182 .elementor-element.elementor-element-5c78bfae>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-3304ca60 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F4F4F4;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 40px 0px;
}

.elementor-8182 .elementor-element.elementor-element-3304ca60>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8182 .elementor-element.elementor-element-1d21b1c5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-83ae4fb.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-8182 .elementor-element.elementor-element-83ae4fb.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-8182 .elementor-element.elementor-element-83ae4fb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-8182 .elementor-element.elementor-element-83ae4fb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-8182 .elementor-element.elementor-element-83ae4fb .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-8182 .elementor-element.elementor-element-533f3e2c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-1b3b059.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-8182 .elementor-element.elementor-element-1b3b059.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-8182 .elementor-element.elementor-element-1b3b059.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-8182 .elementor-element.elementor-element-1b3b059 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-8182 .elementor-element.elementor-element-1b3b059 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-8182 .elementor-element.elementor-element-9706758>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-e1aac64.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-8182 .elementor-element.elementor-element-e1aac64.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-8182 .elementor-element.elementor-element-e1aac64.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-8182 .elementor-element.elementor-element-e1aac64 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-8182 .elementor-element.elementor-element-e1aac64 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-8182 .elementor-element.elementor-element-28e8465 {
    margin-top: 45px;
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-58a390b3 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.elementor-8182 .elementor-element.elementor-element-58a390b3>.elementor-widget-container {
    margin: 0px 0px 015px 0px;
}

.elementor-8182 .elementor-element.elementor-element-3e22aa1 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc( 0.66 * 100%);
}

.elementor-8182 .elementor-element.elementor-element-3e22aa1:after {
    content: "0.66";
}

.elementor-8182 .elementor-element.elementor-element-3e22aa1 .elementor-post__meta-data span+span:before {
    content: "•";
}

.elementor-8182 .elementor-element.elementor-element-3e22aa1 {
    --grid-column-gap: 30px;
    --grid-row-gap: 35px;
}

.elementor-8182 .elementor-element.elementor-element-3e22aa1 .elementor-post__text {
    margin-top: 20px;
}

.elementor-8182 .elementor-element.elementor-element-31389f06 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.elementor-8182 .elementor-element.elementor-element-31389f06>.elementor-widget-container {
    margin: 0px 0px 015px 0px;
}

.elementor-8182 .elementor-element.elementor-element-626e3687 .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-626e3687 .destination-item {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-626e3687>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-8182 .elementor-element.elementor-element-7ae3823 .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-7ae3823 .destination-item {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-3fc1bc60 .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-3fc1bc60 .destination-item {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-b84d435 .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-b84d435 .destination-item {
    margin-bottom: 24px;
}

.elementor-8182 .elementor-element.elementor-element-52e2ab67 .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-52e2ab67 .destination-item {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-3a697cbc .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-3a697cbc .destination-item {
    margin-bottom: 24px;
}

.elementor-8182 .elementor-element.elementor-element-b7d6a17 .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-b7d6a17 .destination-item {
    margin-bottom: 24px;
}

.elementor-8182 .elementor-element.elementor-element-a4e19b2 .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-a4e19b2 .destination-item {
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-30b4b3c .destination-item img {
    height: 357px;
}

.elementor-8182 .elementor-element.elementor-element-30b4b3c .destination-item {
    margin-bottom: 24px;
}

.elementor-8182 .elementor-element.elementor-element-4d9ebc8c {
    margin-top: 45px;
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-76d12e3 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.elementor-8182 .elementor-element.elementor-element-76d12e3>.elementor-widget-container {
    margin: 0px 0px 015px 0px;
}

.elementor-8182 .elementor-element.elementor-element-0a81560 .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc( 0.66 * 100%);
}

.elementor-8182 .elementor-element.elementor-element-0a81560:after {
    content: "0.66";
}

.elementor-8182 .elementor-element.elementor-element-0a81560 .elementor-post__meta-data span+span:before {
    content: "•";
}

.elementor-8182 .elementor-element.elementor-element-0a81560 {
    --grid-column-gap: 30px;
    --grid-row-gap: 35px;
}

.elementor-8182 .elementor-element.elementor-element-0a81560 .elementor-post__text {
    margin-top: 20px;
}

.elementor-8182 .elementor-element.elementor-element-664d68fb {
    margin-top: 45px;
    margin-bottom: 0px;
}

.elementor-8182 .elementor-element.elementor-element-4e61c064 {
    text-align: left;
}

.elementor-8182 .elementor-element.elementor-element-4e61c064 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.elementor-8182 .elementor-element.elementor-element-4e61c064>.elementor-widget-container {
    margin: 0px 0px 015px 0px;
}

.elementor-8182 .elementor-element.elementor-element-5b0783b1 {
    margin-top: 0px;
    margin-bottom: 100px;
}

.elementor-8182 .elementor-element.elementor-element-6746d160 .item-testimonial .item {
    padding: 30px 30px 30px 30px;
}

@media(max-width:1024px) {
    .elementor-8182 .elementor-element.elementor-element-626e3687 .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-7ae3823 .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-3fc1bc60 .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-b84d435 .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-52e2ab67 .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-3a697cbc .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-b7d6a17 .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-a4e19b2 .destination-item {
        margin-bottom: 24px;
    }
    .elementor-8182 .elementor-element.elementor-element-30b4b3c .destination-item {
        margin-bottom: 24px;
    }
}

@media(max-width:767px) {
    .elementor-8182 .elementor-element.elementor-element-83ae4fb .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-8182 .elementor-element.elementor-element-1b3b059 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-8182 .elementor-element.elementor-element-e1aac64 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-8182 .elementor-element.elementor-element-3e22aa1 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc( 0.5 * 100%);
    }
    .elementor-8182 .elementor-element.elementor-element-3e22aa1:after {
        content: "0.5";
    }
    .elementor-8182 .elementor-element.elementor-element-626e3687 .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-7ae3823 .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-3fc1bc60 .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-b84d435 .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-52e2ab67 .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-3a697cbc .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-b7d6a17 .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-a4e19b2 .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-30b4b3c .destination-item {
        margin-bottom: 10px;
    }
    .elementor-8182 .elementor-element.elementor-element-0a81560 .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc( 0.5 * 100%);
    }
    .elementor-8182 .elementor-element.elementor-element-0a81560:after {
        content: "0.5";
    }
}